{{ define "main" }}
{{- $dateFmt := .Site.Params.dateFormats.postSingle | default "January 2, 2006" -}}
<article class="post-single">
  <div class="meta">{{ .Date.Format $dateFmt }}{{ with .Params.tags }}
    {{- range $t := . -}}
      {{ " · " -}}
      {{ $tp := site.GetPage (printf "/tags/%s" $t) -}}
      {{ if $tp }}<a href="{{ $tp.RelPermalink }}">{{ $t }}</a>{{ else }}{{ $t }}{{ end -}}
    {{ end -}}
  {{ end }}</div>
  <h1>{{ .Title }}</h1>
  <div class="body">{{ .Content }}</div>
</article>
{{ end }}
